<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto cf-container">
        <form [formGroup]="studentForm" (ngSubmit)="saveStudent()">
          <div class="cf-cover">
            <div class="session-title row">
              <h2>Educational Information</h2>
              <p>Please, fill this form with the required student's information and his grades, and thank you for your work.</p>
            </div>

            <div class="form-row row">
              <div class="col-md-12">
                <label class="form-label">CNE</label>
                <input class="form-control" formControlName="cne" placeholder="Enter CNE">
              </div>
            </div>
            <div class="form-row row">
              <div class="col-md-12">
                <label class="form-label">Major</label>
                <input class="form-control" formControlName="major" placeholder="Enter Major">
              </div>
            </div>
            <div class="form-row row">
              <div class="col-md-12">
                <label class="form-label">School Name</label>
                <input class="form-control" formControlName="schoolName" placeholder="Enter School Name">
              </div>
            </div>

            <div class="form-row row">
              <div class="col-md-12">
                <label class="form-label">Degree type</label>
                <select class="form-control" formControlName="degreeType" (change)="onDegreeTypeChange($event)">
                  <option value="" selected>Select a Degree Type</option>
                  <option value="DEUG">DEUG</option>
                  <option value="DEUST">DEUST</option>
                  <option value="DUT">DUT</option>
                  <option value="LICENCE">LICENCE</option>
                </select>
              </div>
            </div>

            <div class="form-row row" *ngIf="showSemesterFields1()">
              <div class="col-md-6">
                <label class="form-label">Semester1 Grade</label>
                <input class="form-control" formControlName="semester1" placeholder="Enter Grade">
              </div>
              <div class="col-md-6">
                <label class="form-label">Semester2 Grade</label>
                <input class="form-control" formControlName="semester2" placeholder="Enter Grade">
              </div>
            </div>
            <div class="form-row row" *ngIf="showSemesterFields1()">
              <div class="col-md-6">
                <label class="form-label">Semester3 Grade</label>
                <input class="form-control" formControlName="semester3" placeholder="Enter Grade">
              </div>
              <div class="col-md-6">
                <label class="form-label">Semester4 Grade</label>
                <input class="form-control" formControlName="semester4" placeholder="Enter Grade">
              </div>
            </div>
            <div class="form-row row" *ngIf="showSemesterFields2()">
              <div class="col-md-6">
                <label class="form-label">Semester1 Grade</label>
                <input class="form-control" formControlName="semester1" placeholder="Enter Grade">
              </div>
              <div class="col-md-6">
                <label class="form-label">Semester2 Grade</label>
                <input class="form-control" formControlName="semester2" placeholder="Enter Grade">
              </div>
            </div>
            <div class="form-row row" *ngIf="showSemesterFields2()">
              <div class="col-md-6">
                <label class="form-label">Semester3 Grade</label>
                <input class="form-control" formControlName="semester3" placeholder="Enter Grade">
              </div>
              <div class="col-md-6">
                <label class="form-label">Semester4 Grade</label>
                <input class="form-control" formControlName="semester4" placeholder="Enter Grade">
              </div>
            </div>
            <div class="form-row row" *ngIf="showSemesterFields2()">
              <div class="col-md-6">
                <label class="form-label">Semester5 Grade</label>
                <input class="form-control" formControlName="semester5" placeholder="Enter Grade">
              </div>
              <div class="col-md-6">
                <label class="form-label">Semester6 Grade</label>
                <input class="form-control" formControlName="semester6" placeholder="Enter Grade">
              </div>
            </div>
            <div class="form-row row">
              <div class="col-md-12">
                <div class="mb-3">
                  <textarea id="message" formControlName="extractedText" readonly rows="5" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Extracted Text ...">
                    {{ extractedText }}
                  </textarea>
                  <img [src]="imageUrl" *ngIf="imageUrl" alt="Image avec rectangles et textes encadrés en couleur" class="img-fluid img-thumbnail">
                </div>
                <div class="form-row row">
                  <div class="col-md-12 d-flex justify-content-center">
                    <button [disabled]="studentForm.invalid" type="submit" class="btn btn-primary col-md-5">Save</button>
                    &nbsp;
                    &nbsp;
                    <button class="btn btn-primary col-md-5" (click)="onUploadClick()">Upload</button>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-app-errors></app-app-errors>
<router-outlet></router-outlet>
