<app-navbar></app-navbar>

<div class="flex-container m-5">
  <div class="w-full max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
    <div class="flex items-center justify-between mb-4">
      <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white border-b-4 border-blue-500">General Information</h5>
    </div>
    <div class="flow-root">
      <ul *ngFor="let student of students" role="list" class="divide-y divide-gray-200 dark:divide-gray-700 ml-px-0 mb-px-0">
        <li class="py-2 sm:py-3">
          <div class="flex items-center">
            <div class="flex-1 min-w-0">
              <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                Name
              </p>
            </div>
            <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
              {{ student.name }}
            </div>
          </div>
        </li>
        <li class="py-2 sm:py-3">
          <div class="flex items-center">
            <div class="flex-1 min-w-0">
              <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                CNE
              </p>
            </div>
            <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
              {{ student.cne }}
            </div>
          </div>
        </li>
        <li class="py-2 sm:py-3">
          <div class="flex items-center">
            <div class="flex-1 min-w-0">
              <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                CNI
              </p>
            </div>
            <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
              {{ student.cni }}
            </div>
          </div>
        </li>
        <li class="py-2 sm:py-3">
          <div class="flex items-center">
            <div class="flex-1 min-w-0">
              <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                Major
              </p>
            </div>
            <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
              {{ student.major }}
            </div>
          </div>
        </li>
        <li class="py-2 sm:py-3">
          <div class="flex items-center">
            <div class="flex-1 min-w-0">
              <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                School Name
              </p>
            </div>
            <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
              {{ student.schoolName }}
            </div>
          </div>
        </li>
        <li class="py-2 sm:py-3">
          <div class="flex items-center">
            <div class="flex-1 min-w-0">
              <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                Degree Type
              </p>
            </div>
            <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
              {{ student.degreeType }}
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="w-full max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
    <div class="flex items-center justify-between mb-4">
      <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white border-b-4 border-blue-500">Semesters Grade</h5>
    </div>
    <div class="flow-root">
      <ul *ngFor="let student of students" role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
        <li class="py-2 sm:py-3">
          <div class="flex items-center">
            <div class="flex-1 min-w-0">
              <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                Semester 1
              </p>
            </div>
            <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
              {{ student.semester1 }}
            </div>
          </div>
        </li>
        <li class="py-2 sm:py-3">
          <div class="flex items-center">
            <div class="flex-1 min-w-0">
              <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                Semester 2
              </p>
            </div>
            <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
              {{ student.semester2 }}
            </div>
          </div>
        </li>
        <li class="py-2 sm:py-3">
          <div class="flex items-center">
            <div class="flex-1 min-w-0">
              <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                Semester 3
              </p>
            </div>
            <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
              {{ student.semester3 }}
            </div>
          </div>
        </li>
        <li class="py-2 sm:py-3">
          <div class="flex items-center">
            <div class="flex-1 min-w-0">
              <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                Semester 4
              </p>
            </div>
            <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
              {{ student.semester4 }}
            </div>
          </div>
        </li>
        <li class="py-2 sm:py-3">
          <div class="flex items-center">
            <div class="flex-1 min-w-0">
              <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                Semester 5
              </p>
            </div>
            <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
              {{ student.semester5 }}
            </div>
          </div>
        </li>
        <li class="py-2 sm:py-3">
          <div class="flex items-center">
            <div class="flex-1 min-w-0">
              <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                Semester 6
              </p>
            </div>
            <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
              {{ student.semester6 }}
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>


<app-app-errors></app-app-errors>
<router-outlet>

</router-outlet>
