<app-navbar></app-navbar>

<div class="p-3">
  <div class="card">
    <div class="card-body">
      <table class="table">
        <thead>
        <tr>
          <th class="text-center">CNE</th>
          <th class="text-center">Major</th>
          <th class="text-center">Semester1</th>
          <th class="text-center">Semester2</th>
          <th class="text-center">Semester3</th>
          <th class="text-center">Semester4</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let student of students">
          <td class="text-center">{{student.cne}}</td>
          <td class="text-center">{{student.major}}</td>
          <td class="text-center">{{student.semester1}}</td>
          <td class="text-center">{{student.semester2}}</td>
          <td class="text-center">{{student.semester3}}</td>
          <td class="text-center">{{student.semester4}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<app-app-errors></app-app-errors>
<router-outlet>

</router-outlet>
