<section class="form-02-main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="_lk_de">
          <div class="form-03-main">
            <div class="alert alert-danger" *ngIf="errorMessage">
              {{errorMessage}}
            </div>
            <form [formGroup]="formLogin" (ngSubmit)="handleLogin()">
              <div class="logo">
                <img src="assets/user.png" alt="img">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" formControlName="cni" placeholder="Enter CNI">
              </div>

              <div class="form-group">
                <input type="password" class="form-control" formControlName="password" placeholder="Enter Password">
              </div>

              <div class="form-group">
                <div class="_btn_04">
                  <button class="btn"><b>Login</b></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
